@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}


header{
    background-color: #633062;
    opacity: 0.95;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), 10px 10px 20px rgba(0, 0, 0, 0.4);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    height: 50px;

}

.logo{
    display: flex;
    align-items: center;
    width: 30px;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;

}

.nav-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-weight: 40px;
}

.login-button{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.login-button i{
    color: white;
}

.logo img{
    display: flex;
    width: 300px;
    height: auto;
}

/* MUDANCAS */

.mudancas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 0 auto; */
    width: 100%;
    height: 450px;
    overflow: hidden;
    align-items: center;
    background-color: rgba(138, 196, 77, 0.5);
    color: white;
}

.mudancas h1{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 25px;
    margin: 30px;
    white-space: pre-line;
    line-height: 1.5;
    
}

.mudancas #textoMudancas{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 20px;
}

/* IMPACTOS */

.impactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 450px;
    background-color: #633062;
    color: white;
}

.impactos .left-topics, 
.impactos .right-topics{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
    text-align: center;
    /* margin: 10px;  */
    justify-content: center;
    font-size: 28px;

}

.impactos .right-topics{
    margin-left: auto;
    /* margin-bottom: 160px; */
}

.impactos .left-topics{
    margin-right: auto;
}

.impactos h1 {
    font-size: 40px;
    padding: 10px 0;
    margin-top: 35px;
 
}

.impactos .imgImpacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.impactos .imgImpacto img{
    width: 250px;
    max-width: 100%;
    max-height: 100%;
}



/* GRAFICO */

.grafico{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 450px;
    overflow: hidden;
    align-items: center;
    background-color: rgba(138, 196, 77, 0.5);
    color: white;
    /* flex-direction: row-reverse; */
    
  
}

.grafico h1{
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 25px;
    margin: 30px;
    white-space: pre-line;
    line-height: 1.5;
    padding: 10px;


}


.grafico span{
    font-size: 25px;

}


/* COMBATER */

.combater{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 450px;
    overflow: hidden;
    align-items: center;
    background-color: #633062;
    color: white;
    /* flex-direction: row-reverse; */
    
  
}

.combater h1{
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 25px;
    margin: 30px;
    white-space: pre-line;
    line-height: 1.5;
    padding: 10px;


}


.combater span{
    font-size: 25px;

}


/* OUTRAS ONGS */

.outrasONGs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 450px;
    background-color: rgba(138, 196, 77, 0.5);
    color: white;

}

.outrasONGs .imgs-left,
.outrasONGs .imgs-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.outrasONGs .imgs-left #img1{
    width: 250px;
}

.outrasONGs .imgs-left #img2{
    width: 150px;
}

.outrasONGs .imgs-right #img3{
    width: 150px;
}

.outrasONGs .imgs-right #img4{
    width: 250px;
}


.outrasONGs .textos h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 150px;
}


.outrasONGs img {
    margin: 0 35px;
   
}

.outrasONGs .imgs-right {
    margin-left: auto; 
}




































footer{
    background-color: #633062;
    width: 100%;
    color: white;

}

#footer_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* dizer que tem 3 colunas */
    padding: 3rem 3.5rem;
    align-items: center;
    justify-items: center;
}



#footer_contacts h1,p{
    margin-bottom: 0.75rem;
    font-size: 20px;

}



.footer-link{
    text-decoration: none;
}

#footer_socialMedia{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_socialMedia .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: white;
}

#instagram{
    background-color:#fbbd3e;
    width: 5rem;
}

#facebook{
    background-color: #4267b3;
    width: 5rem;
}

#github{
    background-color: #000;
    width: 5rem;

}

.footer_list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    color: white;
    font-size: 18px;
}

.footer_list a{
    color: white;
    cursor: pointer;
    
}

.footer_copyright{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    white-space: pre-line;
    line-height: 1.5;
}

.footer_copyright p{
    font-size: 15px;
}

